@use '../../abstracts/mixins.scss' as * ;
@use  '../../abstracts/fonts.scss' as *;
@use '../../abstracts/colors.scss' as *;


.section1{
  @include flexColumn;
  align-items: center;
  .input-div{
    width: 100%;
    background-color: $primary-bg;
    padding: 2.2rem 3rem;
    border-radius: 5px;
    background-image: url('../../../images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -60px;
    &-bg{
      display: flex;
      position: relative;
    }
    
  }
  .input{
    width: 83%;
    padding: 0.9rem 0.9rem;
    margin-right: 1.5%;
    outline: none;
    border: none;
    border-radius: 5px; 
  }
  .input-btn{
    width: 15.5%;
    @include defaultBtn;
    @include primaryBtn;
    border-radius: 5px;
  }
  .error-message{
    position: absolute;
    top: 52px;
    left: 5px;
    font-size: 0.75rem;
    font-style: italic; 
    color: $primary-text-color;
    display: none;
  }
  .loader{
    font-weight: bold;
    display:inline-block;
    clip-path: inset(0 1ch 0 0);
    animation: l 1s steps(4) infinite;
  }
  @keyframes l {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
  }  
  .error-color{
    color: $error;
  }
  .success-color{
    color: lightgreen;
  }
  .display-error-message{
    display: block;
  }
  .input-error{
    border: 2px solid $error;
  }

  .outputs{
    margin-top: 1rem;
    width: 100%;

    .output{
      width: 100%;
      background-color: white;
      border-radius: 5px;
      @include justFlex;
      padding: 0.6rem 1rem;
      align-items: center;
      margin-bottom: 1rem;
      cursor: pointer;

      .left-side{
        @include justFlex;
        flex-wrap: wrap;
        width: 55%;
        margin-right: 20px;
        overflow: hidden;
        word-wrap: break-word;
        hyphens: auto;
        white-space: normal!important; 
      }
      &_prevurl{
        width: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: 14px;
        color: $secondary-text-color;
        cursor: pointer;
        
      }
      .right-side{
        // text-align: center;
        display: flex;
        align-items: center;
        margin-left: auto;

        span{
          display: flex;
          align-items: center;
        }
      }
      &_currenturl{
        // margin-left: auto;
        margin-right: 10px;
        font-size: 14px;
        color: $primary-btn;
        cursor: pointer;
      }
      .btn-div{
        display: flex;
      }
      &_btn{
        margin-right: 1rem;
        @include defaultBtn;
        @include primaryBtn;
        padding:0.6rem 1.5rem ;
        border-radius: 6px;

        @media(hover: hover){
          &:hover{
            opacity: 0.6;
          }
        }
      }
      .copied{
        background-color: $primary-bg;
      }
      &_delbtn{
      @include defaultBtn;

      .trash{
        color: $primary-text-color;
        font-size: 20px;
        @media(hover: hover){
          &:hover{
            color: $error;
          }
        }
      }
    }
    }
    
  }
}