//media query
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 414px)";
$media-mobile-xsm: "only screen and (max-width : 395px)";
$media-mobile-xxsm: "only screen and (max-width : 371px)";