@use '../abstracts/mixins.scss' as * ;
@use  '../abstracts/fonts.scss' as *;
@use '../abstracts/colors.scss' as *;
.header{

  &-container{
    padding: 0 10rem;
    padding-top: 2rem;


    .nav{
      display: flex;
      &-mobile{
        width: 100%;
        display: flex
      }
      &-logo{
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $primary-font;
        margin-right: 2rem;
      }
      &-list{
        margin-top: 0.3rem;

        &-items{
         display: flex;

        }
        &-item{
          margin-right: 2rem;
          font-weight: 700;
          font-size: 15px;
          color: $primary-text-color;
          cursor: pointer;

          @media(hover: hover){
            &:hover{
              color: $secondary-text-color;
            }
          }
        }
      }
      &-btn{
        margin-left: auto;

        .btn{
          @include defaultBtn;
        }
        .login{
          background-color: transparent;
          margin-right: 1.7rem;
          color: $primary-text-color;
          font-weight: 700;
          font-size: 1rem;
        }
        .signup{
          @include primaryBtn;
          font-weight: 700;
          padding: 0.7rem 1.55rem;
          font-size: 1rem;
          border-radius: 60px;

          @media(hover: hover){
            &:hover{
              opacity: 0.6;
            }
          }
        }
      }
      .navbar_toggle{
        display: none;
      }
    }
  }
}